html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.hamburger {
  position: relative;
  right: -1.5em;
  background-color: transparent;
  height: 1.5em;
  width: 1.5em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98), -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 100;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamburger.is-active {
  background-color: none;
}

._layer {
  background: #333333;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  background-color: rgba(255, 255, 255, 0.911);
}

.hamburger:hover .-top {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hamburger:hover .-bottom {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.hamburger.is-active .-top {
  -webkit-transform: translateY(200%) rotate(45deg) !important;
  transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
  opacity: 0;
}

.hamburger.is-active .-bottom {
  -webkit-transform: translateY(-200%) rotate(135deg) !important;
  transform: translateY(-200%) rotate(135deg) !important;
}

.nav-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.911);
  z-index: 99;
}

.nav-list-items {
  position: fixed;
  bottom: 3em;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80vw;
  width: 100%;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1000;
}

.nav-item {
  width: 100%;
  padding: 1.2em;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.911);
  text-decoration: none;
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -1em 0px 0px rgba(0, 0, 0, 0.9) inset;
          box-shadow: -1em 0px 0px rgba(0, 0, 0, 0.9) inset;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.911);
  -webkit-box-shadow: 80vw 0px 2px rgba(0, 0, 0, 0.9) inset;
          box-shadow: 80vw 0px 2px rgba(0, 0, 0, 0.9) inset;
  font-weight: bolder;
  padding-left: 3em;
  text-decoration: none;
}

.nav-item:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.9);
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav-item:nth-child(7) {
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: calc(100vh - 463px);
}

.is_active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
  -webkit-box-shadow: 22vw 0px 10px rgba(71, 71, 71, 0.801);
          box-shadow: 22vw 0px 10px rgba(71, 71, 71, 0.801);
}

.main-section-item {
  background-color: rgba(200, 200, 200, 0.1);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main-section-item h2.main-section-title {
  color: rgba(22, 22, 22, 0.938);
  margin: 0;
  margin-top: 1em;
  padding: 0.3em;
  text-align: center;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.911);
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-section-item:nth-child(1) {
  min-height: 100vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../img/cat.jpg");
}

.main-article-item {
  color: rgba(0, 0, 0, 0.9);
  padding: 0;
  margin: 0;
}

.main-article-item p::-moz-selection {
  color: #3841c5;
  background-color: #131314;
}

.main-article-item p::selection {
  color: #3841c5;
  background-color: #131314;
}

/*Para los libros*/
#libros .main-article-item {
  min-height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.books-category-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.books-category-item h2 {
  background-color: rgba(10, 10, 10, 0.05);
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  margin-top: 1em;
}

.carrousel-container {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.carrousel-container .carrousel-item img {
  -webkit-animation: slideCarrousel 40s linear infinite;
          animation: slideCarrousel 40s linear infinite;
  width: 60vw;
  height: 100%;
}

@-webkit-keyframes slideCarrouselFig {
  0% {
    left: -0%;
  }
  100% {
    left: -250%;
  }
}

@keyframes slideCarrouselFig {
  0% {
    left: -0%;
  }
  100% {
    left: -250%;
  }
}

@-webkit-keyframes slideCarrousel {
  0% {
    margin-left: -0%;
  }
  25% {
    margin-left: -50%;
  }
  50% {
    margin-left: -100%;
  }
  75% {
    margin-left: -150%;
  }
  100% {
    margin-left: -200%;
  }
}

@keyframes slideCarrousel {
  0% {
    margin-left: -0%;
  }
  25% {
    margin-left: -50%;
  }
  50% {
    margin-left: -100%;
  }
  75% {
    margin-left: -150%;
  }
  100% {
    margin-left: -200%;
  }
}

/*Para los cursos*/
#cursos article {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-course-item {
  width: 90vw;
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 1em;
  font-family: "Raleway", sans-serif;
  margin: 1.2em 0;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(10, 10, 10, 0.15)) drop-shadow(-2px 2px 5px rgba(10, 10, 10, 0.15));
          filter: drop-shadow(2px 2px 5px rgba(10, 10, 10, 0.15)) drop-shadow(-2px 2px 5px rgba(10, 10, 10, 0.15));
}

.card-course-item h2.card-course-title {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: left;
  padding-left: 1em;
}

.card-course-item img {
  width: 100%;
  height: auto;
}

.card-course-item figcaption, .card-course-item p {
  padding: 0.8em;
  text-align: center;
}

.card-course-item input {
  width: 100%;
  border-radius: 0.5em;
  border: none;
  padding: 0.8em;
  font-weight: bolder;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.836);
  background-color: rgba(74, 1, 245, 0.9);
}

.card-course-item input:hover {
  -webkit-box-shadow: 100vw 0px 10px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 100vw 0px 10px rgba(0, 0, 0, 0.8) inset;
}

#programas .main-article-item {
  min-height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-program-item {
  width: 90vw;
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 1em;
  font-family: "Raleway", sans-serif;
  margin: 1.2em 0;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(10, 10, 10, 0.15)) drop-shadow(-2px 2px 5px rgba(10, 10, 10, 0.15));
          filter: drop-shadow(2px 2px 5px rgba(10, 10, 10, 0.15)) drop-shadow(-2px 2px 5px rgba(10, 10, 10, 0.15));
}

.card-program-item h2.card-program-title {
  font-size: 1.5em;
  font-weight: bolder;
  text-align: left;
  padding-left: 1em;
}

.card-program-item img {
  width: 100%;
  height: auto;
}

.card-program-item figcaption, .card-program-item p {
  padding: 0.8em;
  text-align: center;
}

.card-program-item input {
  width: 100%;
  border-radius: 0.5em;
  border: none;
  padding: 0.8em;
  font-weight: bolder;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.836);
  background-color: rgba(221, 0, 30, 0.9);
}

.card-program-item input:hover {
  -webkit-box-shadow: 100vw 0px 10px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 100vw 0px 10px rgba(0, 0, 0, 0.8) inset;
}

#acerca .main-article-item {
  text-align: justify;
}

#acerca .main-article-item p {
  padding: 1em;
  position: relative;
}

#acerca .main-article-item p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: rgba(41, 38, 38, 0.15);
  -webkit-clip-path: polygon(0% 0%, 0% 50%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 50%, 100% 100%, 100% 0%);
}

#acerca .main-article-item p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: rgba(41, 38, 38, 0.15);
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 200% 100%);
          clip-path: polygon(0% 100%, 0% 0%, 200% 100%);
}

#acerca .main-article-item img {
  width: 100vw;
  height: auto;
}

#contacto .main-article-item {
  min-height: 90vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacto .main-article-item .main-form-contact {
  background-color: rgba(120, 120, 120, 0.1);
  border-radius: 2em;
  width: 90vw;
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(2px 2px 5px rgba(10, 10, 10, 0.15)) drop-shadow(-2px 2px 5px rgba(10, 10, 10, 0.15));
          filter: drop-shadow(2px 2px 5px rgba(10, 10, 10, 0.15)) drop-shadow(-2px 2px 5px rgba(10, 10, 10, 0.15));
}

#contacto .main-article-item .main-form-contact label {
  width: 100%;
}

#contacto .main-article-item .main-form-contact label span {
  display: inline-block;
  margin-bottom: 0.5em;
}

#contacto .main-article-item .main-form-contact label input, #contacto .main-article-item .main-form-contact label textarea {
  width: 100%;
}

#contacto .main-article-item .main-form-contact label textarea {
  width: 100%;
}

.footer-content {
  min-height: 100vh;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.911);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */
